.input-group{
    width: auto;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.tablica{
    border: 2px solid black;
    border-radius: 10px;
    width: 360px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60;
}

.form-search {
    text-transform: uppercase;
}

.btn-signout{
    border-radius: 12px;
    /* color: #0d6efd; */
}